.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
project.swan.json
package.swan.json
project.config.json
options.js
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
