page {
  background-color: rgba(0, 0, 0, 0.04);
}

.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.user-info {
  height: 70px;
  width: 100%;
  margin-top: 15px;
  background-color: white;
}
.user-identer {
  height: 170px;
  width: 100%;
  margin-top: 15px;
  background-color: white;
}
.no-login {
  line-height: 170px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: rgba(1, 1, 1, 0.6);
}
.user-nickname {
  margin-top: 5px;
  height: 30px;
  line-height: 60px;
}
.wechat {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: rgba(1, 1, 1, 0.6);
}
.info-table {
  margin-top: 5px;
}

.version-info {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 10px;
}
